@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.App {
	font-family: 'Yellowtail', cursive;
	background-color: #212121;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.PadContainer {
	padding: 10px;
	width: 500px;
	height: 500px;
	background-color: #14ffec;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: evenly;
	border-radius: 10px;
	box-shadow: 0 0 20px 10px #14ffec;
}
.Title {
	font-size: 50px;
	color: #14ffec;
	text-align: center;
	margin-top: 20px;
	text-shadow: 0 0 20px #14ffec;
	letter-spacing: 5px;
}

@media (max-width: 580px) {
	.PadContainer {
		padding: 10px;
		width: 300px;
		height: 300px;
		background-color: #14ffec;
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: evenly;
		border-radius: 10px;
		box-shadow: 0 0 20px 10px #14ffec;
	}
	.Title {
		font-size: 40px;
		color: #14ffec;
		text-align: center;
		margin-top: 20px;
		text-shadow: 0 0 20px #14ffec;
		letter-spacing: 5px;
	}
}
